
<% if current_user.customer? %>
  <h1>Dashboard für den Benutzer</h1>
<% end %>

<% if current_user.partner? %>
  <h1>Dashboard für den Partner</h1>
<% end %>

<% if current_user.admin? %>
  <h1>Dashboard für den Admin</h1>
<% end %>

